* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.wrap {
    height: 100vh;
    background: radial-gradient(74.01% 74.01% at 50% 25.99%, rgba(15, 29, 78, 0) 29.17%, #0f1d4e 91.15%),
        url("./../img/background/imageBg.png") no-repeat;
    background-size: cover;
    display: flex;
}

.container {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

/* хедер */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    z-index: 1;
}

.logo {
    width: 195px;
    height: 44px;
    background: url("./../img/logo.svg");
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

.menu {
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
}

.menu__item {
    margin-left: 10px;
}

.menu__item a:hover {
    border-bottom: 1px solid #fff;
}

.menu__item a:active {
    color: #000;
    border-bottom: 1px solid #000;
}

.menu__item:first-child {
    margin-left: 0;
}

/* гамбургер */

.burger {
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
}

.burger span,
.burger span::before,
.burger span::after {
    width: 24px;
    position: absolute;
    height: 2px;
    background: #fff;
    display: block;
    transition: 0.3s;
}

.burger span::before {
    content: "";
    top: -8px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span {
    top: 8px;
}

.burger span::after {
    content: "";
    bottom: -8px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active:before {
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active:after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active {
    background: rgba(255, 255, 255, 0);
}

.burger__menu {
    width: 400px;
    height: 100%;
    display: block;
    background: #0f1d4e;
    color: #ccc;
    top: 0;
    padding: 24px 32px;
    position: fixed;
    right: -550px;
    transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 100;
}
.burger__menu.animate {
    right: 0;
}

.burger__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #8a93b4;
}

.burger__title {
    color: #8a93b4;
    font-weight: bold;
    font-size: 36px;
    padding: 0;
    margin: 0;
}

.close {
    width: 16px;
    height: 16px;
    background: url("./../img/close.svg");
    cursor: pointer;
}

.burger__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    text-align: left;
    padding: 0;
}

.burger__item {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
    padding-right: 0;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.burger__item a:hover {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #e41b13;
}

.burger__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-top: 30px;
    border-top: 1px solid #8a93b4;
}

.contact {
    color: #8a93b4;
}

td {
    padding-top: 20px;
}

.src {
    padding-left: 10px;
}

/* мейн */
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__title {
    font-weight: bold;
    font-size: 72px;
}

.main__subtitle {
    width: 421px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 95px;
}

.btn {
    display: block;
    position: relative;
    width: 328px;
    text-align: left;
    background: none;
    border: 2px solid #8a93b4;
    padding: 24px 144px 24px 24px;
    font-size: 14px;
    color: #fff;
}

.main .btn {
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    display: block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    right: 30px;
    top: 30px;
    width: 4px;
    height: 4px;
    transform: rotate(-45deg);
}

.btn::before {
    content: "";
    position: absolute;
    display: block;
    background: #fff;
    right: 29px;
    top: 32px;
    height: 1px;
    width: 32px;
}

.btn:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.btn:hover::after,
.btn:hover::before {
    transition: 0.2s;
    right: 5px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    z-index: 1;
}

.tabs:last-child {
    z-index: 0;
}

.tab {
    display: flex;
    align-items: center;
    position: relative;
    width: 384px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    background: #fff;
    opacity: 0.8;
    color: #000;
}

.tab::after {
    content: "";
    position: absolute;
    display: block;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    right: 30px;
    top: 35px;
    width: 4px;
    height: 4px;
    transform: rotate(-45deg);
}

.tab::before {
    content: "";
    position: absolute;
    display: block;
    right: 29px;
    top: 37px;
    height: 1px;
    width: 32px;
    background: #000;
}

.tab:hover::after,
.tab:hover::before {
    transition: 0.2s;
    right: 5px;
}

.tab__img {
    display: none;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background: url("./../img/map.svg") no-repeat;
}

.tab.active {
    opacity: 1;
    border-top: 4px solid #e41b13;
}

.tab.active .tab__img {
    display: block;
}

.tab.active::after {
    border-right: 1px solid #e41b13;
    border-bottom: 1px solid #e41b13;
}

.tab.active::before {
    background: #e41b13;
}

/* секция */

.section {
    background: radial-gradient(69.8% 86.63% at 44.48% 38.18%, rgba(15, 29, 78, 0.65) 8.37%, #0f1d4e 100%),
        url("./../img/background/bgSection.png") no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}

.section .container {
    justify-content: space-between;
}

.section__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 445px;
    margin-top: 100px;
}

.section__title {
    font-weight: bold;
    font-size: 64px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    position: relative;
}

.section__title::before {
    content: "";
    position: absolute;
    width: 72px;
    height: 1px;
    background: #e41b13;
    top: 110px;
}

.section__subtitle {
    font-size: 14px;
    line-height: 24px;
    opacity: 0.78;
    margin-bottom: 80px;
}

.dimensions {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.dimension {
    display: flex;
    flex-direction: column;
    width: 170px;
}

.dimension__title {
    font-weight: bold;
    font-size: 36px;
    padding: 0;
    margin: 0;
}

.dimension__subtitle {
    font-size: 14px;
    opacity: 0.75;
}

/* модалка */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: #fff;
    margin: auto;
    padding-left: 72px;
    width: 800px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal__close {
    align-self: flex-end;
    width: 16px;
    height: 16px;
    background: url("./../img/close.svg");
    cursor: pointer;
    margin-top: 40px;
    margin-right: 50px;
}

.modal__header {
    display: flex;
    color: #0f1d4e;
    font-size: 64px;
}

.modal__body {
    color: #484848;
    width: 520px;
    font-size: 16px;
}

.modal__btn {
    background-color: #0f1d4e;
    width: 240px;
    font-size: 14px;
    padding: 16px 78px;
    color: #fff;
    border: none;
}

.modal__btn:hover {
    transition: 0.2s;
    box-shadow: 0 0 20px #0f1d4e;
}

.modal__btn:active {
    opacity: 0.5;
}

/* слайдер */

.owl-carousel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 590px;
    height: 360px;
    padding: 0;
    margin-top: 124px;
    z-index: 0;
}

.owl-carousel img {
    max-width: 590px;
    max-height: 360px;
    object-fit: cover;
}

.owl-carousel .owl-nav {
    width: 140px;
    float: right;
}

.owl-theme .owl-dots {
    display: flex;
    justify-content: space-between;
    width: 126px;
    margin-top: 38px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 17px;
    height: 3px;
    border-radius: 0;
    margin: 0;
    background: #c4c4c4;
    opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #fff;
    opacity: 1;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width: 56px;
    height: 56px;
    border: 1px solid #8a93b4;
    border-radius: 0;
    background-color: none;
}

.owl-carousel .owl-nav button.owl-next {
    background: url("./../img/next.svg") no-repeat center;
}

.owl-carousel .owl-nav button.owl-prev {
    background: url("./../img/prev.svg") no-repeat center;
}

.owl-carousel .owl-nav button.owl-next:hover {
    background: rgba(183, 216, 255, 0.13) url("./../img/next.svg") no-repeat center;
    opacity: 0.9;
    border: none;
}
.owl-carousel .owl-nav button.owl-prev:hover {
    background: rgba(183, 216, 255, 0.13) url("./../img/prev.svg") no-repeat center;
    border: none;
}

.graph {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 1012px;
    height: 800px;
    position: absolute;
    z-index: 0;
    top: 143px;
    right: 340px;
    background: url("./../img/Vector1.svg") no-repeat bottom;
}

.graph .owl-carousel {
    width: 280px;
    height: 200px;
    margin-bottom: 150px;
    margin-right: 50px;
}

.graph__title {
    font-size: 72px;
    padding: 0;
    margin: 0;
}

.graph__subtitle {
    font-size: 14px;
}

.graph .owl-theme .owl-dots button.owl-dot span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0;
    background: #fff;
    opacity: 1;
    transform: scale(0.5);
}

.graph .owl-carousel .owl-dot:nth-child(1) {
    top: 120px;
    left: -430px;
    position: absolute;
}

.graph .owl-carousel .owl-dot:nth-child(2) {
    top: 115px;
    left: -205px;
    position: absolute;
}

.graph .owl-carousel .owl-dot:nth-child(3) {
    top: -60px;
    left: 15px;
    position: absolute;
}

.graph .owl-carousel .owl-dot:nth-child(4) {
    top: -100px;
    left: 160px;
    position: absolute;
}

.graph .owl-theme .owl-dots .owl-dot.active span {
    background: red;
    opacity: 1;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgb(236, 235, 232);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgb(255, 255, 255);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.904);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(228, 226, 220, 0.952);
		box-shadow: 0 0 0 0 rgba(250, 249, 248, 0.678);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(245, 242, 234, 0.925);
		box-shadow: 0 0 0 10px rgba(250, 249, 248, 0.678);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(252, 251, 249, 0.685);
		box-shadow: 0 0 0 0 rgba(250, 249, 248, 0.678);
	}
}

@media (max-width: 375px) {
    .wrap {
        height: auto;
    }

    .container {
        width: 375px;
        margin-left: 0;
        margin-right: 0;
    }

    .header {
        height: 72px;
        margin-top: 0;
        padding-bottom: 20px;
        border-bottom: none;
        background: #0f1d4e;
    }

    .nav__container {
        width: 170px;
        justify-content: flex-end;
    }

    .menu {
        display: none;
    }

    .burger {
        margin-right: 20px;
    }

    .burger__menu {
        width: 100%;
    }

    .main__title {
        font-weight: bold;
        font-size: 45px;
        margin-top: 304px;
        margin-left: 24px;
        margin-right: 19px;
    }

    .main__subtitle {
        width: 275px;
        font-size: 16px;
        line-height: 24px;
        margin-left: 24px;
        margin-bottom: 40px;
    }

    .main .btn {
        margin-left: 24px;
        margin-bottom: 64px;
    }

    .graph {
        display: none;
    }

    .tabs {
        display: none;
    }

    .section {
        height: auto;
    }

    .section__info {
        width: 328px;
        margin-top: 55px;
        margin-left: 24px;
    }

    .section__title {
        font-size: 36px;
        margin-bottom: 80px;
    }

    .section__title::before {
        top: 74px;
    }

    .owl-carousel {
        width: 328px;
        height: 200px;
        margin-top: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .owl-carousel img {
        width: 328px;
        height: 200px;
        object-fit: cover;
    }

    .dimensions {
        width: 330px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .dimension {
        width: 165px;
    }

    .dimension__title {
        font-weight: bold;
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

    .dimension__subtitle {
        font-size: 14px;
        opacity: 0.75;
    }

    .modal__content {
        width: 100%;
        padding-left: 20px;
    }

    .modal__header {
        font-size: 40px;
    }

    .modal__body {
        color: #484848;
        width: 100%;
        font-size: 14px;
    }
}
